<%= form_for @upload, html: { multipart: true, class: "dropzone", id: 'upload_inp_files_form' } do |f| %>

  <div class="form-group text-center">
    <label>
      Before you send files, write below the e-mail address that will receive the results:
      <%= f.email_field :recipient, class: 'form-control', id: 'recipient_email_field' %>
    </label>
  </div>

  <div class="form-group fallback">
    <%= f.file_field :file %>
  </div>
<% end %>

<script type="text/javascript">
  $('document').ready(Upload.init);
</script>